
[Desktop Entry]
Type=Application
Exec=/usr/share/gnome-manual-duplex/gmd-applet-3.py run-in-tray
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=GnomeManualDuplex
Name=GnomeManualDuplex
Comment[en_US]=GMD applet for Gnome Shell 3+
Comment=GMD applet for Gnome Shell 3+
